@import "../abstracts/_constants";
@import "../abstracts/_functions";

.company-icon {
  background-color: $primary-orange;
  display: inline-flex;
  padding: scaleValue(6) scaleValue(11);
  border: 0px;
  border-radius: 6px;
  color: $primary-white;
  font-family: $primary-font-family;
  font-style: $primary-font-style;
  font-weight: $primary-font-weight;
  font-size: scaleValue(14);
}

.company-section {
  display: flex;
  align-items: center;
  gap: scaleValue(10);
  font-family: $primary-font-family;
  font-style: $primary-font-style;
  font-weight: $primary-light-font-weight;
  font-size: scaleValue(13);
  line-height: scaleValue(16);
  color: $primary-dark-blue;
  width: 100%;
  height: scaleValue(56);
  background: $primary-white;
}
