@import "../abstracts/_constants";
@import "_button";
@import "_input";
@import "../abstracts/_functions";

.dialog-box {
  @extend .dialog;

  label {
    font-family: $primary-font-family;
    font-style: $primary-font-style;
    font-weight: $primary-font-weight;
    color: $primary-header-text-color;
    font-size: scaleValue(26);
  }
  
  input[type=submit], button {
    @include app-button;
  }
  input[type=submit]:hover, button:hover {
    @include app-button-hover;
  }
  input[type=submit]:active, button:active {
    @include app-button-active;
  }

  input[type=text] {
    @include app-input;
  }
}

.dialog-overlay.hidden {
  display: none;
}
