@import "../abstracts/_constants";
@import "../abstracts/_functions";

@mixin app-input {
  display: block;
  height: scaleValue(36);
  width: scaleValue(320);
  font-size: scaleValue(22);
  box-sizing: border-box;
  padding: scaleValue(5) scaleValue(7);
  border-radius: 4px;
  border: 1px solid $primary-light-blue;
  color: $primary-medium-gray;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  font-style: $primary-font-style;
}
