@import "../abstracts/_constants";
@import "../abstracts/_functions";

.kanban-column-cards {
  background-color: $primary-white;
  height: 100%;
  border-radius: 4px;
  padding: scaleValue(10);
  max-height: scaleValue(500);
  overflow: auto;
}
