@import "../abstracts/_constants";
@import "../abstracts/_functions";

.kanban-column {
  flex: 1;
  margin: 0 scaleValue(10);
  padding: scaleValue(10);
  height: fit-content;
  background: $primary-white;
  border: 1px solid $primary-column-border-color;
  border-radius: 8px;
}
