@import "../abstracts/_constants";
@import "../abstracts/_functions";

.kanban-column-header {
  padding: scaleValue(24) 0px 0px scaleValue(32);
  font-family: $primary-font-family;
  font-style: $primary-font-style;
  font-weight: $primary-font-weight;
  font-size: scaleValue(16);
  line-height: scaleValue(19);
  letter-spacing: scaleValue(0.018);

  color: $primary-header-text-color;
}
