//display
$ideal-viewport-width: 1440;
$current-viewport-width: 100vw;
$min-viewport-width: 1440px;
$max-viewport-width: 1920px;

//text
$primary-font-family: "Inter";
$primary-font-style: normal;
$primary-font-weight: 500;
$primary-light-font-weight: 400;
$primary-lighter-font-weight: 300;

//colors
$primary-white:#ffffff;

$primary-beige: #f6f9fb;
$primary-light-beige: #fafbfc;
$primary-dark-beige: #EFF1F4;

$primary-gray: #8C97AC;
$primary-medium-gray: #405175;

$primary-black: #000000;
$primary-op03-black: rgba(0, 0, 0, 0.3);
$primary-op05-black: rgba(0, 0, 0, 0.5);

$primary-blue: #2567f6;
$primary-light-blue: #2d70fd;
$primary-lighter-blue: #ECF1FC;
$primary-dark-blue: #001747;

$primary-orange:#FFC84A; 