@import "../abstracts/_functions";

.app-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $primary-white;
  height: 100vh;
}

.divider {
  border: 1px solid $primary-lighter-beige;
  width: 90%;
  align-self: center;
}

.divider-vertical {
  border: 1px solid $primary-lighter-beige;
  height: scaleValue(20);
  align-self: center;
}
