@import "../abstracts/_constants";
@import "../abstracts/_functions";

.kanban-board {
  grid-row-start: 2;
  grid-row-end:  2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
