@import "../abstracts/_constants";
@import "../abstracts/_functions";
@import "../components/_button";

.add-task-area {
    grid-row-start: 1;
    display: flex;
    justify-self: end;
    height: scaleValue(30);
    align-self: flex-end;
    padding: scaleValue(20) scaleValue(10) scaleValue(10) scaleValue(10);

    button {
      @include app-button;
    }
    button:hover {
      @include app-button-hover;
    }
    button:active {
      @include app-button-active;
    }
  }